<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Novo item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #itemForm="ngForm" (ngSubmit)="saveItem(itemForm)">

   <ion-item>
     <ion-icon name="" slot="start"> </ion-icon>
     <ion-label color="primary">Descrição</ion-label>
     <ion-input name="descricao" type="text" placeholder="" ngModel required></ion-input>
   </ion-item>

   <ion-item>
     <ion-icon name="images" slot="start"> </ion-icon>
     <ion-label color="primary">Url foto</ion-label>
     <ion-input name="photo" type="text" placeholder="https://..." ngModel required></ion-input>
   </ion-item>

   <ion-item>
     <ion-icon name="" slot="start"> </ion-icon>
     <ion-label color="primary">Tipo</ion-label>
     <ion-input name="tipo" type="text" placeholder="" ngModel required></ion-input>
   </ion-item>

   <ion-item>
     <ion-icon name="" slot="start"> </ion-icon>
     <ion-label color="primary">Quantidade</ion-label>
     <ion-input name="quantidade" type="number" placeholder="" ngModel required></ion-input>
   </ion-item>

   <div padding>
     <ion-button size="large" type="submit" expand="block">Registar</ion-button>
   </div>
 </form>
</ion-content>
